*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'pricedown bl';
    src: url(Font/pricedown\ bl.otf);
    font-weight: normal;
    font-style: normal;
}

body header{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    

}

header h1{
    font-family: 'pricedown bl';
    font-size: 1000%;
    color: white;
    text-shadow: 7px 7px 4px #000000;
}

.menu{
    background-color: rgb(61, 61, 61);
    display: flex;
    width: 100%;
    border: 2px solid black;
    height: 60px;
    margin-top: 12%;
}

.contenedor{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.contenedor ul{
width: 100%;
justify-content: space-around;
align-items: center;
height: 45px;
list-style: none;
display: flex;
/*border: 1px solid green;*/
}

.contenedor ul li{
    margin-right: 20px;
    display: flex;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: white;
    /*border: 2px solid orange;*/
    padding: 10px;
    
}

#menu:hover{
color: black;
background-color: white;
border: 2px solid white;
}

/*EL PIE DE PAGINA*/
footer{
    background-color: rgb(61, 61, 61);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

footer h4{
    width: 100%;
    text-align: center;
    color: white;
}

#social{
    display: flex;
    margin-left: 10px;
    justify-content: center;
}

#socialImage{
    padding-right: 10px;
    width: 30px;
   border: none;
}
